<template>
  <div class="container h-100">
    <b-card-group deck>
      <b-card class="text-center"
              header="Уровень воды в реке СОЖ г.Гомель"
              header-tag="header"
              footer="Информация с сайта: https://allrivers.info/gauge/sozh-gomel/"
              footer-tag="footer"
              :title=title>
        <p class="card-text">Уровень: {{todayLevel}} см. ({{level}})</p>
        <p class="card-text">Вчера: {{yesterdayLevel}} см.</p>
        <GChart
          type="LineChart"
          :data="chartData"
          :options="chartOptions"
        />
      </b-card>
    </b-card-group>
  </div>
</template>

<script>
export default {
  name: 'RiverLevel',
  data() {
    return {
      statistic: {},
      apiUrl: 'https://m.allrivers.info/get_remote_graph/1685',
      date: new Date(),
      year: new Date().getFullYear(),
      yearStatistic: [],
      lastYearStatistic: [],
      todayLevel: 0,
      yesterdayLevel: 0,
      chartData: [],
      chartOptions: {
        chart: {
          title: 'Уровень реки сож',
        },
        interpolateNulls: true,
        legend: { position: 'bottom' },
      },
    };
  },
  created() {
    this.init();
  },
  computed: {
    title() {
      return `Наблюдения за последние сутки ${this.$moment(this.date).format('DD.MM.YYYY')}`;
    },
    level() {
      let level = '';

      const levels = {
        UP: 'подымается',
        DOWN: 'опускается',
        EQUAL: 'такой же',
      };

      if ((this.todayLevel - this.yesterdayLevel) > 0) {
        level = levels.UP;
      } else if ((this.todayLevel - this.yesterdayLevel) < 0) {
        level = levels.DOWN;
      } else {
        level = levels.EQUAL;
      }

      return level;
    },
  },
  methods: {
    init() {
      this.$root.isLoading = true;
      this.loadData();
    },
    loadData() {
      this.$http.get(this.apiUrl).then((response) => {
        this.statistic = response.data.graphdata;
        this.yearStatistic = this.statistic[this.year];
        this.lastYearStatistic = this.statistic[this.year - 1];
        if (this.yearStatistic.length > 2) {
          const length = this.yearStatistic.length;
          this.todayLevel = this.yearStatistic[length - 1][1];
          this.yesterdayLevel = this.yearStatistic[length - 2][1];
          this.setChartData();
        }
        this.$root.isLoading = false;
      });
    },
    getDataByDate(data, date) {
      let result = null;
      data.forEach((item) => {
        if (this.$moment(item[0]).format('DD.MM') === this.$moment(date).format('DD.MM')) {
          result = item[1];
        }
      });
      return result;
    },
    setChartData() {
      this.chartData = [
        ["Дата", `Уровень ${this.year} (см)`, `Уровень ${this.year - 1} (см)`],
      ];
      const stat = this.yearStatistic.slice(Math.max(this.yearStatistic.length - 10, 1))
      stat.forEach((item) => {
        if(this.getDataByDate(this.lastYearStatistic, item[0])) {
          this.chartData.push([this.$moment(item[0]).format('DD.MM'), item[1], this.getDataByDate(this.lastYearStatistic, item[0])]);
        } else {
          this.chartData.push([this.$moment(item[0]).format('DD.MM'), item[1], null]);
        }
      });
    },
  },
};
</script>

<style scoped>

</style>
