<template>
  <div id="app">
    <div class="overlay" v-if="$root.isLoading">
      <rotate-square2></rotate-square2>
    </div>
    <router-view/>
  </div>
</template>

<script>
import RotateSquare2 from 'vue-loading-spinner/src/components/RotateSquare2.vue';

export default {
  components: {
    RotateSquare2,
  },
};
</script>
<style>
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    z-index: 100;
  }
  .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
  }
</style>
